<!DOCTYPE html>
<html>
<head>
	<title> Signup </title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
<div id = "account-form-container">
	<form method = "post" name = "new-account">
		<h1>
			<p id = "sub1"> Please tell us a little about yourself. </p>
		</h1>
		<fieldset>
			<legend> Enter your information </legend>
			<label for = "name"> Name: </label>
			<input type = "text" name = "name" ><br>
			<label for = "email"> Email: </label>
			<input type = "text" name = "email"><br>
			<label for = "username"> Username: </label>
			<input type = "text" name = "user"><br>
			<label for = "password"> Password: </label>
			<input type = "password" name = "pass">
			<label for = "pass-confirm"> Confirm your Password: </label>
			<input type = "password" name = "pass-confirm">
			<input type = "submit" name = "submit" value = "Be heard">
		</fieldset>
	</form>
</div>
</body>

<script>
		console.log('ready!');
</script>

<script>
	var validator = new FormValidator('new-account', [{
		name:'name',
		rules: 'required'

	}, { name:'email',
		 rules:'valid_email'

	}, { name: 'user',
		 rules: 'required', 'greater_than[6]'
	}, {
		 name: 'pass',
		 rule: 'required', 'greater_than[6]', 'alpha_dash'
	}, {
		 name: 'pass-confirm',
		 display: 'password confirmation',
		 rule: 'required|matches[password]'
	}], function(err, onSubmit){
			if(errors.length > 0){
				var errorString = '';
				for(var i = 0; errorLength = errors.length; i < errorLength; ++i){
					errorString += errors[i].message + '<br />';
				}
				el.innerHTML = errorString;
			}
	});
</script>
</html>