<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stamp.fm</title>
    <meta name="description" content="">
    <meta name="author" content="">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type="text/javascript"></script>
	<script src="/include/ejs_production.js" type="text/javascript"></script>
  <script src="/include/jquery.ejs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/layout.css">
	<script src="anal.js" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
 
 <body>

	<input type="submit" id="emails">
	<div id="main"></div>
  </body>
</html>
