<% layout('layoutTextPage') -%>
<style>
    #title{
        color:#900000;
        font-weight:bold;
        font-size:30px;
    }
</style>
<body>
    <br><br><br>
    <p id="title">STAND OUT. BE DIFFERENT.</p>
    <p>06/26/2013</p>
    <img src="blog1.jpg">
    <p>Social media, along with the traditional mediums of television, print and radio, has brought artists closer to their fans and to those interested in listening to their music. At the same time, it&#39s becoming more challenging for artists to establish themselves and standout from other artists that are also struggling and trying very hard to connect with us, the masses, and make a lasting impact through their music. Today, success of an artist requires more than just producing good music. That artist has to stand out and be different in some way. This becomes more apparent when we examine the musical journeys of popular artists.</p>
    <p>Rihanna for instance managed to successfully pull off a complete image makeover when she got rid of her tresses and projected herself as a temptress and a bad-girl&#39 with a more gothic dark sort of a look. This was a 360 degree turn from what she was like early on in her career when she looked like any other female artist. It is easy to make this distinction when you observe her image transformation from hits like &#39SOS&#39 and &#39Pon De Replay&#39 to some of her more recent work like &#39Rude Boy&#39 and &#39Talk that Talk&#39. Needless to say, this transformation got her noticed and separated her from other mainstream artists subconsciously in the minds of the people. Artists like Lady Gaga and Kesha were also high on the shock value quotient by dressing up outrageously. Her infamous meat-dress which she wore to the VMA&#39s and her bubble dress among other costumes are still topics of great interest in fashion circles.</p>
    <p>That being said, there are definitely other ways of standing out besides changing your personality and dressing outrageously, however. Justin Bieber for instance, was initially mocked for looking and sounding more feminine than masculine. However, that proved to be more of a boon than a bane to his career as it catapulted him to stardom overnight. Another famous artist to beat the odds by standing out was 52 year old Susan Boyle who looked so unassuming as she walked into her audition for the show Britain&#39s Got Talent in 2008. Her unorthodox appearance gave viewers preconceived notions about her talent. Her powerful rendition of &#39I Dreamed a Dream&#39 on the show that day however silenced cynics and still gives listeners the chills when they hear it.</p>
    <p>There are still numerous other examples of artists who stand out and who have continued to stand out even at the peak of their careers. Big names like Mariah Carey, Madonna and Jennifer Lopez are but only some examples. Constantly reinventing yourself and finding ways to stand out gives you longevity in an industry where  the reality is that artists could very well make it big one day but end up being given the boot the next.</p>
    <p>In fact this post is definitely pertinent to competing artists in lieu of the upcoming Stamp Musical Tournament. Like I mentioned earlier, one just needs to focus on being different. It&#39s an easy concept to wrap your head around but difficult to implement. The bottom line is that you need to find something about yourself that makes you different. Find something that makes you stand out. Once you find it, harness it. If you&#39re unable to, do something that no one&#39s done before. Do that, and you increase your chances of hitting it big.</p>
    <br>
    <p>By Vishnu Radhakrishnan</p>
    <br><br>
    <p id="title">HOW TO GET A MILLION FOLLOWERS: SOCIAL MEDIA AND MUSIC PROMOTION</p>
    <p>06/19/2013</p>
    <img src="blog2.jpg">
    <p>Over the past decade the Internet has undergone a social revolution.  The number of social media websites has exploded to cover just about every type of content imaginable.  Whether you&#39re looking for personal blogs, alternative news sources or just to connect with friends, chances are you can find multiple social media outlets to serve your interests.  Music, especially, has become a primary focus of many social media websites.  Social media&#39s fundamental emphasis on self-expression, sharing and community can do great things for both artists and fans of the music industry.</p>
    <p>Most well known is the fact that the Internet gets artists discovered.  Uploading new songs to MySpace, posting videos on YouTube, creating a Facebook fan page…the list goes on.  Social media allows musicians to publicize their music and make themselves heard, without waiting around for their "big break" of getting noticed by a mainstream record label.  Don&#39t believe me?  Take a look at Justin Bieber, who first gained popularity by putting his music online.</p>
    <p>Social media also gives more autonomy to artists.  The Internet gives all artists, whether they have ten fans or ten million, the power to distribute their music whenever, wherever and however they want.  It&#39s not unheard of for established musicians to abandon their record labels in favor of a direct-to-fan approach.  For this, crowdfunding websites like Kickstarter have helped artists gain the financial resources they need to continue creating and sharing the music their fans love.</p>
    <p>Social media does not just help the unknown or the independent musicians.  Social networking websites, such as Twitter, let all artists form personal connections with their listeners.  Social media allows for real time interaction between two or more people, helping artists and fans forge deeper bonds than are possible with the traditional artist-fan relationship, where the two groups are linked only by the buying and selling of music.  Using social media, fans can feel as if they are part of the music creation itself, as well as form communities to connect with other fans.</p>
    <p>The combination of music and the Internet lets more voices be heard and enables interaction between listeners and creators.  Embracing these diverse capabilities of social media can only enhance the current state of music and enrich the industry as we know it.</p>
    <p>By Marley Kalt</p>
    <br><br>
    <p id="title">THE A CAPPELLA LIFE</p>
    <p>06/12/2013</p>
    <img src="blog3.png">
    <p>A cappella rocks. Plain and simple.</p>
    <p>Being a freshman on a college campus has the wonderful ability to make you seem incredibly tiny, and perhaps even insignificant. Everyone tells you to &#34join something,&#34 but in the sea of mass meetings and emails, it&#39s fairly easy to drown if you don&#39t tread carefully.</p>
    <p>What most people want, coming to college, is an opportunity to do something they love, and to join a community that really brings out their strengths and character. For me, I found this through A Cappella.</p>
    <p>The University of Michigan has a thriving set of very powerful a cappella groups. Not only have some of our groups made it to the ICCA finals, but all of our groups hold themselves to a standard of musical excellence that would be incredibly challenging to find elsewhere. </p>
    <p>On top of that, a cappella at Michigan is a thriving, living community. You have the opportunity to make friends in these groups that will quite literally last a lifetime. Being part of a group this year, I can say that the friends I made and the people I met have changed my life immensely, and I can&#39t imagine what my college experience would be like without the a cappella experience.</p>
    <p>The wonderful thing about the Michigan campus is that there are plenty of opportunities to get involved in whatever you&#39re into. A cappella groups generally hold auditions in the fall, (a limited, changing number hold auditions in the winter) so make sure that if this is something you&#39re interested in, you don&#39t miss out on an incredible, life changing opportunity. </p>
    <p>By Deepak Kumar</p>
    <br><br>
    <p id="title">SONGWRITING: DEVELOPING YOUR CRAFT</p>
    <p>06/05/2013</p>
    <img src="blog4.jpg">
    <p>If you&#39ve ever listened to a song on the radio and wished that one of those were your own, you&#39re not the only one. Songwriting is a skill that needs to be cultivated and developed over time. But the good news is, it&#39s a skill that any musician can develop with the right focus and effort. Practice makes perfect, but it&#39s important to focus your practice towards the right goals. Here are three of our tips to improve your songwriting craft.Steer Clear of DigressionsWhether you&#39re working on lyrical masterpieces of melodic riffs, loosing focus of the main idea is a songwriter&#39s greatest worry. When you write, write the kind of song that you would listen to. A song usually resonates better when it has a repeating theme or melody line. It&#39s usually easier to remember when the chorus is simple and general enough to relate to a wider audience. 

If you hope to write a song fit for the radio, sticking within these lines would be the safest way to go. However, if you would rather take the creative and unique path, don&#39t be afraid to try something new! 

Find a Trigger

Everyone has different musical expertise and no one writes a song the same way. If you are primarily a vocalist, chances are that you would rely on vocal melodies to set off the inspiration for your song. However, if you are a stronger instrumentalist, it might be easier to start off with a melodic theme or a set of chords. 

A musical trigger is the base on which you build your entire song around. Find a trigger that&#39s most comfortable to you and that you know well enough to discover its variations and harmonies. The base is more often than not a reoccurring theme in your song, so make sure that&#39s one that you would like to be heard throughout your composition.

Value Time

Songwriting is truly a craft. And like any art form, perfecting a song takes time and patience. It&#39s rare that the first song you write will be of stellar quality. But almost always, dedicating a good amount of time to a song can make it better by ten-fold. It&#39s important to remain disciplined when you sit down to finish a song; stay concentrated to make sure the art you create is your personal best.

Not only do you need a chunk of time to write your song, but you also you to put in the time between writing songs and in preparation to write a song. When you listen to radio-hits or your favorite songs, try to take the time to think about what makes you like them or what makes them popular among a general audience. And when you finally are ready to write your own song, don&#39t be afraid to wait for a moment of inspiration.</p>
    
    
    
    <br><br>
    <p id="title">WELCOME TO STAMP.FM AND TO OUR BLOG!</p>
    <p>05/29/2013</p>
    <p>This is an incredibly exciting moment for us. Today is the launch of our blog which will take you into the chambers of our team&#39s artistic minds. We will share our thoughts about the music industry and how we are actively trying to revolutionize it. Travel on this journey with us and witness the change we will create together.

As the accessibility of technology rapidly advances, it is completely realistic to expect the music industry to strongly integrate with technology. Partial credit is due to the music industry&#39s utilization of online streaming services such as YouTube, which has become the primary go-to for mainstream and independent music videos. A great amount of credit can also be appropriated to personalized online music recommendation services, such as Pandora and Spotify, for taking advantage of this digital generation. 

While these services have done a decent job of integrating music and technology, we believe we can bump it up to the next level. 

We have come up with an innovative solution to the problem faced by aspiring, new and independent artists when disseminating their music to the masses of fans looking for their next idol. It is time that a national (and soon, global) online music tournament is created especially for the newest artists who are ready for their shot on the big stage. For the first time ever, novice artists will be presented with the equal opportunity to share their music with the world... and be heard for what they really are. Throughout the tournament, eager fans will discover a continuous stream of talented and deserving artists. Any fan with an access to the Internet will be able to determine their next artist by a simple voting system. And selected artists will be presented with numerous artistic opportunities including financing, performance, and management opportunities. 

The success of a new, reformed music revolution such as Stamp.fm is contingent upon the number of contributors and the level of support. Artists and fans, join us in returning the music industry back to artists and music lovers alike.
<br><br>
Sincerely,<br>
Omar Hashwi and the Stamp.fm team</p>
</body>