<% layout('layout') -%>
<% script('/scripts/main.js') -%>
<% script('profileEdit.js') -%>
<% stylesheet('/video-js/video-js.css') -%>
<% script('/video-js/video.js') -%>
<html>
<head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/gridiculous.css">
    <link rel="stylesheet" type="text/css" href="/createProfile.css">
    <link rel="stylesheet" type="text/css" href="/dropzone.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div id="wrapper">

	<div id="profileSection"  style="color: #000">
		<center>
		<div  id="createPageLabel" style="font-size:40px">
				<h1>Create your Profile</h1>
		</div>	

		<form method = "POST" enctype = "multipart/form-data">
			<div id="picture">
    			<img id="preview" src="stampman.png"/>
    			<center><input type = "file" name = "picture" id = "pic" accept = 'image/*' onchange="previewImage(this)"></center>
    		</div>	<br>
    		<div  id="nameCreate">
				<input style="font-size:20px"type = "text" placeholder = "Band Name" name = "name" id= "name" required/>
			</div><br>
			<div id="locationCreate">
    			<input type = "text" style="font-size:20px" placeholder = "Location (i.e. Ann Arbor, MI)" name = "location" id= "locationEnter" required/>
    		</div><br>
    		<div  id="fbLink">
				<input style="font-size:20px" type = "text" placeholder = "Link to Facebook Fan Page" name = "fb" id= "fbEnter" required/>
			</div><br>
			<div id="twitterLink">
    			<input type = "text" style="font-size:20px" placeholder = "Link to Twitter" name = "twitter" id= "twitterEnter" required/>
    		</div><br>
    		<div id="bioCreateDiv">	
    			<textarea rows = "10" cols = "50" placeholder = "Biography" id = "bioCreate" name = "bio" required/></textarea>
    		</div>	
    		<div id="createProfileButton">
    			<input type = "submit" id="createButton" value = "Click to View Your Profile">
			</div>
    	</div>
		</form>
		</div>	
		</center>
	</div>



<script type="text/javascript">      
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        //the only jQuery line.  All else is the File API.
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
</body>

</html>