<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="validate.min.js"></script>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/createAccount.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script type = "text/javascript" src = "/validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

<!--Birthdate Dropdown-->
    <script type="text/javascript">
/***********************************************
* Drop Down Date select script- by JavaScriptKit.com
* This notice MUST stay intact for use
* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
***********************************************/

var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

function populatedropdown(dayfield, monthfield, yearfield){
var today=new Date()
var dayfield=document.getElementById(dayfield)
var monthfield=document.getElementById(monthfield)
var yearfield=document.getElementById(yearfield)
for (var i=1; i<=31; i++)
dayfield.options[i]=new Option(i, i+1)
dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
for (var m=0; m<12; m++)
monthfield.options[m]=new Option(monthtext[m], monthtext[m])
monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
var thisyear=today.getFullYear()
for (var y=-0; y<120; y++){
yearfield.options[y]=new Option(thisyear, thisyear)
thisyear-=1
}
yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
}

</script>
<!--End Birthdate Dropdown-->

  </head>

<body style="margin:0;min-width: 1100px;">
  <header id="header">
      <a href="http://www.stamp.fm"><img src="/treble.png"></a>
      <ul style="float:right">
      <li>
      <a href="/upload" style="text-decoration:none" class="nav">UPLOAD</a>
    </li>
    <li>
      <a href="#notReal" style="text-decoration:none" class="nav">AUDITION</a>
      </li>
      <li>
      <a href="#notReal" style="text-decoration:none" class="nav">BRACKET</a>
      </li>
      </ul>  
    </header>

<div class="blurb">
<p style="font-size: 50px" class="big">Music lovers worldwide, rejoice.<br>
   Discover or compete.<br>
</p>
<p style="font-size: 30px" class="small">We are the online music tournament.</p>

</div>    

<div class="login">
<center>
<div id = "login-container">
  <form name = "InputFields" method = "post">
      <p style="font-size: 30px">Join Stamp.fm</p>
      <p style="font-size: 25px"><img src="/facebook_login.png"><br>
        or<br>
        Use your Email</p><br>
      <input type = "text" name = "email" id="user-tf" placeholder="Email" class="email"><br><br>
      <input type = "password" name = "pass" id = "pass-tf" placeholder="Password" class="pass"><br><br>
      <input type = "password" name = "pass-confirm" id = "pass-tf" placeholder="Confirm Password" class="pass"><br><br>
      <input type = "text" name = "name" id="user-tf" placeholder="Name" class="name"><br><br>
      <input type = "text" name = "user" id="user-tf" placeholder="Username" class="username"><br>
      </center>
      <p id="birthday" style="font-size:20px">Birthdate<br>

      <form action="" name="someform" style="float:left">
        <select id="daydropdown"></select> 
        <select id="monthdropdown"></select> 
        <select id="yeardropdown"></select> 
      </form>

      <script type="text/javascript">

      //populatedropdown(id_of_day_select, id_of_month_select, id_of_year_select)
      window.onload=function(){
        populatedropdown("daydropdown", "monthdropdown", "yeardropdown")
      }
      </script>
      </p>
      <center>
      <input type = "submit" value = "Create Account" style="float:left" id="createAccount"><br><br>
   </form>
</div>
</center>

<!-- Modal Window(s) -->

<div id="notReal" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">This stage of the competition has not begun yet.<br><br>
    See you July 25th!</h3>

    <p style="color:white">Stay up to date by liking us on Facebook or following us on Twitter!</p>

    <ul>
      <li> <div class="fb-like" data-href="https://www.facebook.com/Stamp.fm?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
      <li>  <div>
            <a href="https://twitter.com/stampfm" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div></li>
    </ul>          
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->


<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
<script type="text/javascript">
  var validator = new FormValidator('InputFields', [{
    name: 'email',
    display: 'Email',    
    rules: 'required|valid_email'
}, {
    name: 'pass',
    display: 'Password',
    rules: 'required'
}, {
    name: 'pass-confirm',
    display: 'Password Confirmation',
    rules: 'required|matches[pass]'
}, {
    name: 'password_confirm',
    display: 'password confirmation',
    rules: 'required|matches[password]'
}, {
    name: 'name',
    display: 'Name',
    rules: 'required|alpha'
}, {
    name: 'user',
    display: 'Username',
    rules: 'required|alpha_numeric'
}], function(errors, event) {
    if (errors.length > 0) {
        var errorString = '';
        
        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            errorString += errors[i].message + '<br />';
        }
        
        el.innerHTML = errorString;
    }       
});
</script>
</body>
</html>
