<% layout('layoutProfileCreate') -%>
<% script('/scripts/main.js') -%>
<% script('profileEdit.js') -%>
<html>
<head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/createProfile.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
    <div id="wrapper">
    <div id="profileSection"  style="color: #000">
	<div  id="createPageLabel" style="font-size:40px;">
	    <center><h1>Create your Profile</h1></center>
	</div>	
	<form method = "POST" enctype = "multipart/form-data" id = "createFields" name = "profileForm">
	    <div id="band_info">
		<div id="picture">
		    <img id="preview" src="<%=imgsrc%>"/>
		    <br>
		    <input type = "file" name = "picture" id = "pic" accept = 'image/*' onchange="previewImage(this)">
		</div>
		<div id="bioCreateDiv">	
		    <input type = "text" size="28" name = "bio" placeholder = "Tagline" id = "bioCreate" name = "" style="font-size:20px"></input>
		</div>
		<div id="nameCreate">
		    <input style="font-size:20px" size="28" type = "text" placeholder = "Personal/Stage/Band Name" value = "<%=name%>" name = "name" id= "name">
		</div>
		<div id="locationCreate">
		    <input type = "text" size="28" style="font-size:20px" placeholder = "Location (i.e. Ann Arbor, MI)" value = "<%=location%>" name = "location" id= "locationEnter">
		</div>
	    </div>
	    <div id="social_media">
		<div  id="fbLink">
		    <span style="font-size:20px;">Link to a Facebook Fan Page</span>
		    <input style="font-size:20px" size="28" type = "text" value="http://facebook.com/stampfm" placeholder = "Link to Facebook Fan Page" name = "fb" id= "fbEnter"/>
		</div>
		<div id="fbLikes">
		    <input type = "text" size="28" style="font-size:20px" placeholder = "# of Current Facebook Likes" name = "fbLikes" id= "fbLikesInput"/>
		</div>
		<div id="twitterLink">
		    <span style="font-size:20px;">Link to a Twitter Profile</span>
		    <input type = "text" size="28" style="font-size:20px" value="http://twitter.com/stampfm" placeholder = "Link to Twitter" name = "twitter" id= "twitterEnter"/>
		</div>
		<div id="twitterFollowers">
		    <input type = "text" size="28" style="font-size:20px" placeholder = "# of Current Twitter Followers" name = "twitterFollowers" id= "twitterFollowersInput"/>
		</div>
		<div id="gender">
		    Gender:
		    <select name="gender" id = "genderDrop">
		        <option class="genderChoice" name = "male" id="male">Male</option>
		        <option class="genderChoice" name = "female" id="female">Female</option>
		    </select>
		</div>
		<div id="birthday">
		    Birth Date:<input type="text" maxlength="2" name = "month" id="month" placeholder="MM" size="2"><input type="text" maxlength="2" name = "day" id="day" placeholder="DD" size="2"><input  maxlength="4" type="text" name = "year" id="year" placeholder="YYYY" size="4">
		</div>
		<div id="createProfileButton">
    		<input type = "submit" id="createButton" value = "Click to View Your Profile">
	        </div>
	    </div>
    	</div>
	</form>
    </div>	
    </div>



<script type="text/javascript">      
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        //the only jQuery line.  All else is the File API.
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<script type="text/javascript">
$(document).ready(function() {
    $("#createFields").submit(function(e){
      return false;
      });
      $('#createButton').click(function(event){ 
        var name = $('input#name').val();
        var location = $('input#locationEnter').val();
        var month = $('input#month').val();
        var day = $('input#day').val();
        var year = $('input#year').val();
        var fblikes = $('input#fbLikesInput').val();
        var twitterlikes = $('input#twitterFollowersInput').val();
        var fblink = $('input#fbEnter').val();
        var twitterLink = $('input#twitterEnter').val();
        var bioCreate = $('textarea#bioCreate').val();
        var Regex = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
     if(name == ""){
      alert("Please fill in the name field!");
     }
     else if(location == ""){
        alert("Please fill in the location field!");
     }
	 else if (bioCreate == ""){
        alert("Please fill in the tagline field");
     }
     else if (!(fblink == "") && !(Regex.test(fblink))){
        alert("Please enter a valid url for Facebook Link");
     }
     else if (!(twitterLink == "") && !(Regex.test(twitterLink))){
        alert("Please enter a valid url for Twitter Link");
     }
	 else if(month == "" || day == "" || year == ""){
        alert("Please fill in the all the fields for the birthday");
     }
     else{
        $("#createFields").unbind("submit");
       }
     });
  });

</script>
</body>

</html>



<% stylesheet('modals.css') -%>
<%-partial('modals', ["'NOP'"]) %>

