<% layout('layoutCreate') -%>
<% script('login.js') -%>
<% script('create.js') -%>

<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/createAccount.css">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	
	
	
	
	<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6009020414318';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009020414318&amp;value=0&amp;currency=USD" /></noscript>
 

 </head>
<body>


<div class="blurb">
<p style="font-size: 40px" class="big">Music lovers worldwide, rejoice.
   Discover or compete.
</p>
<p style="font-size: 30px" class="small">We are the online music tournament.</p>
<iframe id = "start"width="560" height="315" src="//www.youtube.com/embed/lx45B3_Hxo8?rel=0" frameborder="0" allowfullscreen></iframe>
<p style="font-size: 30px" class="small">Visit the <a href="/faq" target="_blank" style="color:#CC0000;">FAQs</a> below for tournament details</p>

 </div>    




	<div class="login">
	<center>
	<div id = "login-container">
	  <form method = "POST" class = "InputFields" id = "inputFields" action = "/">
		  <p style="font-size: 30px">Join Stamp.fm</p>
		  <p style="font-size: 25px"><a href = "/auth/facebook"><img src="/facebook.png"></a><br>
		  	<span style="font-size:10px;">WE WILL NOT POST ON YOUR FACEBOOK WALL</span>
			<br><br>or<br>
			with the boring approach</p>
		  <input type = "text" name = "name" id="name" placeholder="Name" class="name"><br><br>
		  <input type = "text" name = "email" id="email" placeholder="Email" class="email"><br><br>
		  <input type = "text" name = "email-confirm" id = "emailconfirm" placeholder="Confirm Email" class="email"><br><br>
		  <input type = "password" name = "pass" id = "password" placeholder="Password" class="pass"><br><br>
		  
		  <label for = "birthday" id = "birthday" style="float:left; font-size:15px;">I certify that I am over the age of 13</label>
		  <br><input type = "checkbox" id="box" unchecked style="float:left"><br>
		  <br><br>
		  </center>
		  </p>
		  <input type = "submit" value = "Create Account" style = "margin-right:10px;" id = "createAccount"><br><br>
	  </form>
	</div>
	</div>

<<<<<<< HEAD
=======
 <video id="vidPlayer" height="300px" width="500px" id="vidYo" class="video-js vjs-default-skin" controls data-setup='{"techOrder": ["html5", "flash"]}'>
<source src="https://s3.amazonaws.com/public.stamp.fm/stamp.mp4" type="video/mp4" id = "source"></video>

>>>>>>> f758ff71e59772302623b0065d965a75fb9e8ae9

	<!-- FB Like Script-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- End FB Like Script -->

</body>
</html>


<% stylesheet('modals.css') -%>
<%-partial('modals', ["'ABCDEFGPR'"]) %>


