<% layout('layout') -%>
<% script('FormValidation.js') -%>
<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/createAccount.css">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
<body>
  <header id="header">
      <a href="http://www.stamp.fm"><img src="/headerStamp.png"></a>
      <ul style="float:right">
      <li>
      <a href="/upload" style="text-decoration:none" class="nav">UPLOAD</a>
    </li>
    <li>
      <a href="#notReal" style="text-decoration:none" class="nav">AUDITION</a>
      </li>
      <li>
      <a href="#notReal" style="text-decoration:none" class="nav">BRACKET</a>
      </li>
      </ul>  
    </header>

<div class="blurb">
<p style="font-size: 50px" class="big">Music lovers worldwide, rejoice.<br>
   Discover or compete.<br>
</p>
<p style="font-size: 30px" class="small">We are the online music tournament.</p>

</div>    

<div class="login">
<center>
<div id = "login-container">
  <form id = "InputFields" method = "post">
      <p style="font-size: 30px">Join Stamp.fm</p>
      <p style="font-size: 25px"><a href = "/auth/facebook"><img src="/facebook.png"></a><br>
        or<br>
        Use your Email</p><br>
      <input type = "text" name = "name" id="Name" placeholder="Name" class="name"><br><br>
      <input type = "text" name = "email" id="Email" placeholder="Email" class="email"><br><br>
      <input type = "password" name = "pass" id = "Password" placeholder="Password" class="pass"><br><br>
      <input type = "password" name = "pass-confirm" id = "PasswordConfirmation" placeholder="Confirm Password" class="pass"><br><br>
      <label for = "birthday" id = "birthday" style="float:left"> I certify that I am over the age of 13: </label>
      <input type = "checkbox" checked = "checked" style="float:left"><br>
      </center>
      </p>
      <center>
      <input type = "submit" value = "Create Account" style = "float:left" id = "createAccount"><br><br>
   </form>
</div>
</center>

<!-- Modal Window(s) -->

<div id="notReal" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">This stage of the competition has not begun yet.<br><br>
    See you July 25th!</h3>

    <p style="color:white">Stay up to date by liking us on Facebook or following us on Twitter!</p>

    <ul>
      <li> <div class="fb-like" data-href="https://www.facebook.com/Stamp.fm?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
      <li>  <div>
            <a href="https://twitter.com/stampfm" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div></li>
    </ul>          
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->


<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
</body>
</html>