<% layout('layout') -%>
<% script('FormValidation.js') -%>
<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/createAccount.css">
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro|Alef|Titillium+Web' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
<body>
    <form id = "searchform">
    <header id="header">
      <a href="http://www.stamp.fm" id="logo"><img id="logoPic" src="/headerStamp.png"></a>
      <input type = "search" name = "textsearch" placeholder = "search for name" id = "search">
      </form>
      <ul id="links">
        <li id="upload">
        <a href="/upload" style="text-decoration:none" id="upLink" class="nav">UPLOAD</a>
        </li>
        <li id="audition">
        <a href="#notReal" style="text-decoration:none" id="audLink" class="nav">AUDITION</a>
        </li>
        <li id="bracket">
        <a href="#notReal" style="text-decoration:none" id="brackLink" class="nav">BRACKET</a>
        </li> 
        <li id="login">
        <a href="/login" style="text-decoration:none; margin-right:25px; margin-left: 25px" id="loginLink" class="nav">LOGIN</a>
        </li>  
    </ul>
    </header>
<div class="blurb">
<p style="font-size: 50px" class="big">Music lovers worldwide, rejoice.<br>
   Discover or compete.<br>
</p>
<p style="font-size: 30px" class="small">We are the online music tournament.</p>

</div>    

<div class="login">
<center>
<div id = "login-container">
  <form method = "POST" class = "InputFields" id = "inputFields" action = "/signup">
      <p style="font-size: 30px">Join Stamp.fm</p>
      <p style="font-size: 25px"><a href = "/auth/facebook"><img src="/facebook.png"></a><br>
        or<br>
        Use your Email</p><br>
      <input type = "text" name = "name" id="name" placeholder="Name" class="name" oninvalid="this.setCustomValidity('Please Enter a Name')"/><br><br>
      <input type = "email" name = "email" id="email" placeholder="Email" class="email" oninvalid="this.setCustomValidity('Please Enter a Valid Email Address')"/><br><br>
      <input type = "password" name = "pass" id = "password" placeholder="Password" class="pass"><br><br>
      <input type = "password" name = "pass-confirm" id = "PasswordConfirmation" placeholder="Confirm Password" class="pass" oninput="check(this)"/><br><br>
      <label for = "birthday" id = "birthday" style="float:left"> I certify that I am over the age of 13: </label>
      <input type = "checkbox" checked = "checked" style="float:left" required oninvalid="this.setCustomValidity('Please Check the Box to Confirm Your Age')"/><br>
      </center>
      </p>
      <center>
      <input type = "submit" value = "Create Account" style = "float:left" id = "createAccount"><br><br>
  </form>
</div>
</center>

<!-- Modal Window(s) -->

<div id="notReal" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">This stage of the competition has not begun yet.<br><br>
    See you July 25th!</h3>

    <p style="color:white">Stay up to date by liking us on Facebook or following us on Twitter!</p>

    <ul>
      <li> <div class="fb-like" data-href="https://www.facebook.com/Stamp.fm?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
      <li>  <div>
            <a href="https://twitter.com/stampfm" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div></li>
    </ul>          
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->

<div id="upload" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h5 style="color:white">You must be logged in to use this feature</h5>
</center>
  </div>
</div>

<!-- End Modal Window(s) -->
<!-- Modal Window(s) -->
<div id="Error" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close" id = "close">X</a>
    <center>
    <h5 style="color:white">E-mail Already Taken</h5>
</center>
  </div>
</div>
<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->
<div id="UnFilled" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close" id = "close">X</a>
    <center>
    <h5 style="color:white">Please Fill In All Required Fields</h5>
</center>
  </div>
</div>
<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->
<div id="NoMatch" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close" id = "close">X</a>
    <center>
    <h5 style="color:white">Password and Password Confirmation don't match</h5>
</center>
  </div>
</div>
<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->
<div id="BadEmail" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close" id = "close">X</a>
    <center>
    <h5 style="color:white">Please Enter a valid Email Address</h5>
</center>
  </div>
</div>
<!-- End Modal Window(s) -->
<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!---AJAX page rendering -->

<script>
  alert('hello');
  $(document).ready(function() {
    alert('in the document ready');
    $("#inputFields").submit(function(e){
      return false;
    });
    $('#createAccount').click(function(event){ 
     var name = $('#name').val();
     var email = $('#email').val();
     var password = $('#password').val();
     var passconfirm = $('#PasswordConfirmation').val();
     var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
     if(name == "" || email == "" || password == "" || passconfirm == ""){
      $('div#UnFilled').addClass("unhidden");
        $('a#close').click(function(){
          $('div#UnFilled').removeClass("unhidden");
      });
     }
     else if(password != passconfirm){
      $('div#NoMatch').addClass("unhidden");
        $('a#close').click(function(){
        $('div#NoMatch').removeClass("unhidden");
      });
     }
    else if (!email.match(re)){
      $('div#BadEmail').addClass("unhidden");
        $('a#close').click(function(){
        $('div#BadEmail').removeClass("unhidden");
      });
    }
     $.ajax({ 
           url: '/signup',
           type: 'POST',
           cache: false, 
           data: {name: name, email: email, password: password},
           success: function(data){
            if(data.error != null){
              alert(data.error);
              $('div#Error').addClass("unhidden");
              $('a#close').click(function(){
                  $('div#Error').removeClass("unhidden");
              });
            }
            if (typeof data.redirect == 'string'){
              window.location = data.redirect;
            }
          }
        })
      });
  });
</script>

<!-- End FB Like Script -->

</body>
</html>