<% layout('layoutTextPage') -%>
<html>
<br><br><br>
<head>
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:Arial;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
#wrapper{
    width:80%;
    margin-left:100px;
    margin-right:auto;
}
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:Calibri;}
h2
	{margin-right:0in;
	margin-left:0in;
	font-size:18.0pt;
	font-family:"Times New Roman";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:Calibri;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:Calibri;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
span.Heading2Char
	{font-family:"Times New Roman";
	font-weight:bold;}
.MsoChpDefault
	{font-size:11.0pt;
	font-family:Calibri;}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
 /* Page Definitions */
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US link=blue vlink=purple>
<div id="wrapper">

<div class=WordSection1>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>1
- WHAT IS STAMP.FM?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>Stamp.fm gives talented artists the chance to showcase their
talent to the world through an online music tournament. It is a&nbsp;social
media-powered contest that gives talented artists the chance to become the next
star in their city, state, country, or the world. Our mission is to find the
most talented up and coming artists and promote their careers. </span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>2
- WHO CAN ENTER THE CONTEST?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>Our contests are specific to different cities, states, and
countries. From July 1<sup>st</sup> to August 31<sup>st</sup>, the contest is
only open to Michigan artists as we seek to crown the best up and coming
artists in the state! To ensure that only up and coming artists compete against
one another, artists who have signed contracts with an agency, a manager, or
record label are not permitted to participate.</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>3
&#8211; Are there any song restrictions?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>Yes. Lip-synching is not allowed. Some of our youngest users are
as young as 14 years old and therefore we will be forced to remove any videos
that contain nudity, pornography, or sexually explicit material. Videos
containing extremely explicit lyrics, drug abuse, underage drinking and
smoking, animal abuse, and gratuitous violence will also be removed. Please
only upload videos you own the copyright to as well.</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;&nbsp;</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>4
- WHAT ARE THE PRIZES FOR THE WINNERS?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>For the Michigan Tournament, the Stamp Champs will have the
privilege of being crowned as the absolute best up and coming artists of their
genre in the State of Michigan!</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>The second and third artists will also be rightfully known as
the second and third best artists in Michigan!</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>The Stamp Champs will also be granted the opportunity to record
a single worth ~$1,000+ in one of the best professional studios in the world
right here in Michigan!</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>Their single will be publicized and promoted through our
official social media accounts and to all of our networks as well!</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>5
&#8211; How can we increase our chances of winning?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>Once the voting portion of the contest begins (August 1<sup>st</sup>),
share your video to Facebook, Twitter, etc. asking everyone you know to view
your video! </span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>The video with the most votes, Facebook shares, and Tweets will
be the winner!</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>6
- WHEN WILL THE WINNERS BE ANNOUNCED?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>The Stamp Champ of every genre will be announced on September 1<sup>st</sup>,
2013.</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>7
- WHO WILL SELECT THE WINNERS?</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>The Stamp Champs will be selected completely by the voters who
will become the artists&#39 future fans, not music executives and not even us. </span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;vertical-align:baseline'><span style='font-size:12.0pt;font-family:Arial;
color:#222222'>&nbsp;&nbsp;</span></p>

<p class=MsoNormal style='margin-top:11.25pt;margin-right:0in;margin-bottom:
15.0pt;margin-left:0in;line-height:normal;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Arial;color:#222222;text-transform:uppercase'>8
&#8211; for the winners, WILL YOU COVER TRANSPORTATION COSTS to the recording
studio?</span></b></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:115%;font-family:
Arial'>Unfortunately we are unable to provide transportation at this time.</span></p>

</div>
</div>
</body>
</html>
