<% layout('layout') -%>
<% script('feed.js') -%>

<form id="feedform">
	<input type="text" id="message" placeholder="Message"><br><br>
	<input type="submit" id="post" value="Post">
</form>

</br></br></br></br>
<h1>Following</h1>
<div id="to"></div>

<h1>Followers</h1>
<div id="from"></div>

<h1>Feed</h1>
<div id="feed"></div>