<% layout('layout') -%>
<% script('feed.js') -%>

<form id="feedform">
	<input type="text" id="message" placeholder="Message"><br><br>
	<input type="submit" id="post" value="Post">
	<input type="submit" id="refresh" value="Refresh">
</form>

<div id="feed"></div>