<% script('/scripts/main.js') -%>
<% stylesheet('/video-js/video-js.css') -%>
<% script('/video-js/video.js') -%>

<form method = "post">
	<label for = "email"> Please enter your email: </label>
	<input type = "text" name = "email">
	<input type = "submit" name = "submit">
</form>