<% layout('layout') -%>
<% script('/scripts/main.js') -%>
<% stylesheet('/video-js/video-js.css') -%>
<% script('/video-js/video.js') -%>

<img src = "<%=imgid%>">
<div><%=name%></div>
<div><%=location%></div>
<div><%=bio%></div>