<% layout('layout') -%>
<% stylesheet('/stylesheets/style.css') -%>
<% script('/scripts/main.js') -%>

<center>
    <div class="matchup">
    <form id="artist1" class="vote_song">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/reLbRnWGP5w" frameborder="0" allowfullscreen></iframe>
        <div>
            <input type="button" id="vote1" value=" Vote ">
            <input type="button" id="fb1" value="Share ">

            <div class = "twitterButton" id = "twitter1">
            <a href="https://twitter.com/intent/tweet?button_hashtag=StampChamp&text=Check out this artist!" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta">Tweet #StampChamp</a>  

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
           
        </div>
    </form>
    <form id="artist2" class="vote_song">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/5LNTXE9e5ok?list=PL_rKzeF6K2knMJVKDKG_UMdU2P77Ho09U" frameborder="0" allowfullscreen></iframe>
        <div>
            <input type="button" id="vote2" value=" Vote ">
            <input type="button" id="fb2" value="Share ">
            
            <div class = "twitterButton" id = "twitter2">
            <a href="https://twitter.com/intent/tweet?button_hashtag=StampChamp&text=Check out this artist!" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta">Tweet #StampChamp</a>  

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

        </div>
    </form>
    </div>
</center>

<% block('header', "<p><center>Vote For Your Favorite Artist<br> The Vote Button, Facebook Share, and Tweets Are All Worth One Vote Each</center></p>") -%>