<%- block('footer',"
<footer id="footerwrapper">
    <div id="footer">
      <ul>
	<li>&copy Copyright 2013 Stamp.fm All Rights Reserved</li>
	<li class="non-copyright"><a>faq</a></li>
	<li class="non-copyright"><a>terms &amp conditions</a></li>
	<li class="non-copyright"><a>privacy policy</a></li>
	<li class="non-copyright"><a>contact</a></li>
	<li class="non-copyright"><a>Press&#47Advertise</a></li>
      </ul>
    </div>
    </footer>
    <style>
      #footerwrapper{
	position:relative;
      }
      #footer{
	font-size:12px;
	background-color:#333333;
	cursor:default;
	position:absolute;
	color:#000;
	bottom:0;
	width:100%;
	min-width:1000px;
	height:30px;
      }
      #footer ul{
	list-style-type:none;
      }
      #footer li{
	float:left;
	padding-right:7%;
      }
      #footer .non-copyright:hover{
	color:#555555;
      }
      @media only screen and (max-width: 999px) and (max-height:500px){
	#footer{
	  top:1000px;
	  min-width:0;
	}
	#footer li{
	  float:left;
	  padding-right:3%;
	}
      }
</style>
")%>