<% script('/scripts/main.js') -%>
<% stylesheet('/video-js/video-js.css') -%>
<% script('/video-js/video.js') -%>

<h1> Hello! </h1>

<div id = "login-container">
	<form method = "post">
			<label for = "Username"> Username </label>
			<input type = "text" name = "user" id="user-tf"><br>
			<label for = "Password"> Password </label>
			<input type = "password" name = "pass" id = "pass-tf"><br>
			<input type = "submit" value = "Sign In!">
			<label for = "remember" id = "remember"> Remember Me: </label>
			<input type = "checkbox" checked = "checked">
	</form>
</div>

<div class = "btm-links">
	<a href = "/forgot" id = "forgot-password"> Forgot your Password? </a><br>
	<a href = "/signup" id = "create-account"> Create an Account. </a>
</div>