<% 	
	var type;
	for ( var i = 0; i < modals.length; i++) {
		type = modals[i];
		
		if ( type == 'A' ){%>
			<div id="logerror" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">Error: Username and Password Combination do not match</h5></center></div></div>
		<% }
		else if ( type == 'B' ){%>
			<div id="unfilled" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">Please Fill In All Required Fields</h5></center></div></div>
		<%}
		else if ( type == 'C' ){%>
			<div id="bademail" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">Please Enter a valid Email Address</h5></center></div></div>
		<%}
		else if ( type == 'D' ){%>
			<div id="nomatch" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">Your Email Eddresses Must Match</h5></center></div></div>
		<%}
		else if ( type == 'E' ){%>
			<div id="error" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">E-mail Already Taken</h5></center></div></div>
		<%}	
		else if ( type == 'F' ){%>
			<div id="forgot" class="modalDialog"><div><div class="close">X</div><center><h5 style="color:white">Enter Email to Recover Password</h5><div><form method = "post" action = "/forgot" id = "forgotpass"><input type="text" class="enterEmail" placeholder="Email" name = "email"><br><br><input type="submit" value="Recover Password" id = "recoverPass"></form></div></center></div></div>
		<%}
		else if ( type == 'G' ){%>
			<div id="recoversuccess" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">You will recieve a reset email shortly</h5></center></div></div>
		<%}
		else if ( type == 'H' ){%>
			<div id="recovererror" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">There was an error. Please try again</h5></center></div></div>
		<%}
		else if ( type == 'I' ){%>
			<div id="followinglist" class="modalDialog_follow"><div><div class="close" style="color:#FFFFFF">X</div><center><h3 style="color:white">Who you are Following</h3><div id="to"></div></center></div></div>
		<%}
		else if ( type == 'J' ){%>
			<div id="followerslist" class="modalDialog_follow"><div><div class="close" style="color:#FFFFFF">X</div><center><h3 style="color:white">Who's Following You</h3><div id="from"></div></center></div></div>		
		<%}
		else if ( type == 'K' ){%>
		<div id="info" class="modalDialog_upload">
		  <div>
			<div class="close" id="closeButton" style="color:#FFFFFF">X</div>
			<center>
			<h5 style="color:white">Fill in your Song Information</h5>
			<div>
				<input type="text" class="songName" placeholder="Song Name" name = "songName" id = "songName">
			   <p style="color:#FFFFFF">Choose the Genre that best fits your song</p>
				<center>
				<select name="genre" form="songInfo" id = "genre">
				  <option class="genreChoice" id="country">Country</option>
				  <option class="genreChoice" id="pop">Pop</option>
				  <option class="genreChoice" id="alternative">Alternative</option>
				  <option class="genreChoice" id="rap">Rap</option>
				  <option class="genreChoice" id="rnb">RnB</option>
				  <option class="genreChoice" id="instrumental">Instrumental</option>
				  <option class="genreChoice" id="hardrock">Hardrock</option>
				  <option class="genreChoice" id="EDM">EDM</option>
				  <option class="genreChoice" id="international">International</option>
				  <option class="genreChoice" id="folk">Folk</option>
			   </select><br><br>
			   <span  style="color:#FFFFFF; font-size:15px;">Does this song contain explicit content?</span><input type = "checkbox" id = "explicit" name = "explicit"><br>
			   <input type="button" value="Enter" id = "songSubmit">
			  <input type="button" value="Cancel" id = "cancelUpload">
			  <br>
			  <br>
			  <div id="holder"></div>
			</div>
			</center>
		  </div>
		</div>
	
		<%}
		else if ( type == 'L' ){%>
			<div id="youSure" class="modalDialog">
				<div>
					<center>
					<h3 style="color:white">Are you sure you want to enter this song to the tournament?</h3>    
					<input type="submit" value="Yes" id = "enterTourney">
					<input type="button" value="No" id = "noThanks">
					</center>
				</div>
			</div>
		<%}
		else if ( type == 'M' ){%>
			<div id="congrats" class="modalDialog">
			  <div>
			  <div class="close" id="closeButton" style="color:#FFFFFF">X</div>
				<center>
				<h3 style="color:white">Congratulations! <br> You're song has been successfully added to the tournament!</h3>    
				</center>
			  </div>
			</div>

		<%}
		else if ( type == 'N' ){%>
			<div id="notreal" class="modalDialog_temp">
			  <div>
				<div class="close" style="color:#FFFFFF">X</div>
				<center>
				<h3 style="color:white">This stage of the competition has not begun yet.<br><br>
				See you August 1st!</h3>
				<p style="color:white">Stay up to date by liking us on Facebook or following us on Twitter!</p>
				<ul>
				  <li> <div class="fb-like" data-href="https://www.facebook.com/Stamp.fm?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
				  <li>  <div>
						<a href="https://twitter.com/stampfm" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div></li>
				</ul>
				</center>
			  </div>
			  <a id="advertisement" href="http://www.kickstarter.com/projects/1627771136/turtlecell-iphone-case-with-retractable-earbud-hea"></a>
			</div>
		<%}
		else if ( type == 'O' ){%>
			<div id="feedback" class="modalDialog_temp" style="text-align:center">
			  <script>
			  function highlight(radio){
				radio.style.backgroundColor="#000";
				}
			  function NO(radio){
				radio.style.backgroundColor="rgba(180,7,6,1)";
				}

				</script>
				<div>
				<div class="close" style="color:#FFFFFF">X</div>
				<h3 style="color:white">Give us Some Feedback!</h3>
				<form method = "POST" action = "/feedback" id = "feedback">

				  <label style="background-color:black" id = "ideaz" onclick="highlight(this); NO((document.getElementById('probz')));NO((document.getElementById('commentz')));NO((document.getElementById('questionz')));"><input type="radio" name="feedback" value="Idea" id="ideaRadio" class="radio" checked>Idea</label>
				  <label id="probz" onclick="highlight(this); NO((document.getElementById('ideaz')));NO((document.getElementById('commentz')));NO((document.getElementById('questionz')));"><input type="radio" name="feedback" value="Problem" id="problemRadio" class="radio">Problem</label>
				  <label id="commentz" onclick="highlight(this); NO((document.getElementById('probz')));NO((document.getElementById('ideaz')));NO((document.getElementById('questionz')));"><input type="radio" name="feedback" value="Comment" id="commentRadio" class="radio">Comment</label>
				  <label id="questionz" onclick="highlight(this); NO((document.getElementById('probz')));NO((document.getElementById('commentz')));NO((document.getElementById('ideaz')));"><input type="radio" name="feedback" value="Question" id="questionRadio" class="radio">Question</label>

				  <textarea id="feedbackMessage" name = "feedbackname"></textarea><br>
				  <input href="#close" type = "submit" id = "feedbacksubmit" onclick="window.location='#close';">
				  <script>

				  </script>
				</form>        
			  </div>
			</div>
	<%}
	else if ( type == 'P' ){%>
			<div id="contact" class="modalDialog_temp" style="text-align:center">
			  <script>
			  function highlight(radio){
				radio.style.backgroundColor="#000";
				}
			  function NO(radio){
				radio.style.backgroundColor="rgba(180,7,6,1)";
				}

				</script>
				<div>
				<div class="close" style="color:#FFFFFF">X</div>
				<h3 style="color:white">Give us Some Feedback!</h3>
				<form method = "POST" action = "/feedback" id = "feedback">

				  <label style="background-color:black" id = "ideaz" onclick="highlight(this); NO((document.getElementById('probz')));NO((document.getElementById('commentz')));NO((document.getElementById('questionz')));"><input type="radio" name="feedback" value="Idea" id="ideaRadio" class="radio" checked>Idea</label>
				  <label id="probz" onclick="highlight(this); NO((document.getElementById('ideaz')));NO((document.getElementById('commentz')));NO((document.getElementById('questionz')));"><input type="radio" name="feedback" value="Problem" id="problemRadio" class="radio">Problem</label>
				  <label id="commentz" onclick="highlight(this); NO((document.getElementById('probz')));NO((document.getElementById('ideaz')));NO((document.getElementById('questionz')));"><input type="radio" name="feedback" value="Comment" id="commentRadio" class="radio">Comment</label>
				  <label id="questionz" onclick="highlight(this); NO((document.getElementById('probz')));NO((document.getElementById('commentz')));NO((document.getElementById('ideaz')));"><input type="radio" name="feedback" value="Question" id="questionRadio" class="radio">Question</label>

				  <textarea id="feedbackMessage" name = "feedbackname"></textarea><br>
				  <input href="#close" type = "submit" id = "feedbacksubmit" onclick="window.location='#close';">
				  <script>

				  </script>
				</form>        
			  </div>
			</div>
		<% }
	else if ( type == 'Q' ){%>
		<div id="accountinfo" class="modalDialog_account">
		  <div>
			<div class="close" style="color:#FFFFFF">X</div>
			<center>
			<h3 style="color:white">Edit Your Account Info</h3>
			<form id="editAccount">
			  <br>
			  <input type="email" placeholder="Change your Email Address" id="editEmail"><br><br>
			  <input type="submit" value="Confirm" id="confirm">
			</form>         
			</center>
		  </div>
		</div>
		<% }
	else if ( type == 'R' ){%>
	
	<div id="boxerror" class="modalDialog"><div><div class="close" id = "close">X</div><center><h5 style="color:white">Please Verify to Our Terms</h5></center></div></div>

	<%}
	else if ( type == 'S' ){%>
		<div id="bigpic" class="modalDialog">
		  <div>
			<div class="close" style="color:#FFFFFF">X</div>
			<center>
			<img src="<%=profID%>" id="bigPicture" style="height: 70%; width: 70%;">  
		  </center>
		  </div>
		</div>
	<% }
		else if ( type == 'T' ){%>
		<div id="samesong" class="modalDialog">
		  <div>
			<div class="close" style="color:#FFFFFF">X</div>
			<center>
			<h3 style="color:white">You cannot enter two videos in the same genre</h3>    
			</center>
		  </div>
		</div>
	<% }
	else if ( type == 'U' ){%>
		<div id="delerror" class="modalDialog">
		  <div>
			<div class="close" style="color:#FFFFFF">X</div>
			<center>
			<h3 style="color:white">You cannot delete a video uploaded to the tournament</h3>    
			</center>
		  </div>
		</div>
	<% }
	else if ( type == 'V' ){%>
		<div id="proferr" class="modalDialog">
		  <div>
			<div class="close" style="color:#FFFFFF">X</div>
			<center>
			<div id="proferrdiv" style="color:white"></div>
			</center>
		  </div>
		</div>
	<% }
	}

%>
		
		
		
		
		



<script>
$("document").ready(function(){
	$('.close').click(function(){
		$(this).parent().parent().removeClass("unhidden");
	});
	
	$('.modalbutton').click(function(event){
		var str = $(this).attr("id");
		$('#'+str.substring(0, str.length - 1)).addClass("unhidden");
	});
	
});

</script>