<% layout('layout') -%>
<% stylesheet('/stylesheets/style.css') -%>
<% script('/scripts/main.js') -%>


<div id='div1vote'><%=v1id%> </div>
 

<form id = "vote1">
	<input type = "submit"></input>
</form>



<% block('header', "<p><center>Vote For Your Favorite Artist<br> The Vote Button, Facebook Share, and Tweets Are All Worth One Vote Each</center></p>") -%>