<% layout('layoutTextPage') -%>
<br><br><br><br>
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"Courier New";
	panose-1:2 7 3 9 2 2 5 2 4 4;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
#wrapper{
    width:80%;
    margin-left:100px;
    margin-right:auto;
}
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:Calibri;}
h2
	{margin-right:0in;
	margin-left:0in;
	font-size:18.0pt;
	font-family:"Times New Roman";
	font-weight:bold;}
h3
	{margin-right:0in;
	margin-left:0in;
	font-size:13.5pt;
	font-family:"Times New Roman";
	font-weight:bold;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
span.Heading2Char
	{font-family:"Times New Roman";
	font-weight:bold;}
span.Heading3Char
	{font-family:"Times New Roman";
	font-weight:bold;}
p.statement, li.statement, div.statement
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
.MsoChpDefault
	{font-size:11.0pt;
	font-family:Calibri;}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US link=blue vlink=purple>
<div id="wrapper">
<div class=WordSection1>

<p class=MsoNormal style='margin-bottom:2.4pt;background:white'><b><span
style='font-size:36.0pt;font-family:"Times New Roman";color:black'>Privacy&nbsp;Policy</span></b></p>
<br>
<p class=MsoNormal style='margin-bottom:.2in;line-height:18.0pt;background:
white'><i><span style='font-size:15.5pt;font-family:"Times New Roman";
color:black'>Your privacy is critically important to us. At Stamp.fm we have a
few fundamental principles:</span></i></p>

<p class=MsoNormal style='margin-bottom:6.0pt;margin-left:15.0pt;text-indent:
-.25in;line-height:normal;background:white'><span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>&#32&#32&#8226<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"Times New Roman";
color:#333333'>We don&#39t ask you for personal information unless we truly need
it. (We can&#39t stand services that ask you for things like your income level for
no apparent reason.)</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;margin-left:15.0pt;text-indent:
-.25in;line-height:normal;background:white'><span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>&#32&#32&#8226<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"Times New Roman";
color:#333333'>We don&#39t share your personal information with anyone except to
comply with the law, develop our products, or protect our rights.</span></p>

<p class=MsoNormal style='margin-bottom:6.0pt;margin-left:15.0pt;text-indent:
-.25in;line-height:normal;background:white'><span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>&#32&#32&#8226<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"Times New Roman";
color:#333333'>We don&#39t store personal information on our servers unless
required for the on-going operation of one of our services.</span></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>Below is our privacy policy
which incorporates these goals: (Note, we&#39ve decided to make this privacy
policy available under a </span><a
href="http://creativecommons.org/licenses/by-sa/2.5/"><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#3399CC'>Creative Commons Sharealike</span></a><span
style='font-size:12.0pt;font-family:"Times New Roman";color:#222222'>&nbsp;license,
which means you&#39re more than welcome to steal it and repurpose it for your own
use, just make sure to replace references to us with ones to you, and if you
want we&#39d appreciate a link to Automattic.com somewhere on your site. We spent
a lot of money and time on the below, and other people shouldn&#39t need to do the
same.)</span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Website
Visitors</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>Like most website
operators, Stamp.fm collects non-personally-identifying information of the sort
that web browsers and servers typically make available, such as the browser
type, language preference, referring site, and the date and time of each
visitor request. Stamp.fm&#39s purpose in collecting non-personally identifying
information is to better understand how Stamp.fm&#39s visitors use its website.
From time to time, Stamp.fm may release non-personally-identifying information
in the aggregate, e.g., by publishing a report on trends in the usage of its
website. Stamp.fm also collects potentially personally-identifying information
like Internet Protocol (IP) addresses. </span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Aggregated
Statistics</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>Stamp.fm may collect
statistics about the behavior of visitors to its websites. For instance, Stamp.fm
may monitor which pages are clicked on the most and the duration of visitors on
the site. Stamp.fm may display this information publicly or provide it to
others.</span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Protection
of Certain Personally-Identifying Information</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>Stamp.fm discloses
potentially personally-identifying and personally-identifying information only
to those of its employees, contractors and affiliated organizations that (i)
need to know that information in order to process it on Stamp.fm&#39s behalf or to
provide services available at Stamp.fm&#39s websites, and (ii) that have agreed
not to disclose it to others. Some of those employees, contractors and
affiliated organizations may be located outside of your home country; by using Stamp.fm&#39s
websites, you consent to the transfer of such information to them. Stamp.fm
will not rent or sell potentially personally-identifying and
personally-identifying information to anyone. Other than to its employees,
contractors and affiliated organizations, as described above, Stamp.fm
discloses potentially personally-identifying and personally-identifying
information only in response to a subpoena, court order or other governmental
request, or when Stamp.fm believes in good faith that disclosure is reasonably
necessary to protect the property or rights of Stamp.fm, third parties or the
public at large. If you are a registered user of Stamp.fm and have supplied
your email address, Stamp.fm may occasionally send you an email to tell you
about new features, solicit your feedback, or just keep you up to date with
what&#39s going on with Stamp.fm. We primarily use social media and our blog to
communicate this type of information, so we expect to keep this type of email
to a minimum. If you send us a request (for example via a support email or via
one of our feedback mechanisms), we reserve the right to publish it in order to
help us clarify or respond to your request or to help us support other users. Stamp.fm
takes all measures reasonably necessary to protect against the unauthorized
access, use, alteration or destruction of potentially personally-identifying
and personally-identifying information.</span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Cookies</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>A cookie is a string of
information that a website stores on a visitor&#39s computer, and that the
visitor&#39s browser provides to the website each time the visitor returns. Stamp.fm
uses cookies to help Stamp.fm identify and track visitors, their usage of Stamp.fm
website, and their website access preferences. Stamp.fm visitors who do not
wish to have cookies placed on their computers should set their browsers to
refuse cookies before using Stamp.fm, with the drawback that certain features
of Stamp.fm&#39s website may not function properly without the aid of cookies.</span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Business
Transfers</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>If Stamp.fm, or
substantially all of its assets, were acquired, or in the unlikely event that Stamp.fm
goes out of business or enters bankruptcy, user information would be one of the
assets that is transferred or acquired by a third party. You acknowledge that
such transfers may occur, and that any acquirer of Stamp.fm may continue to use
your personal information as set forth in this policy.</span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Ads</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>Ads appearing on our
website may be delivered to users by advertising partners, who may set cookies.
These cookies allow the ad server to recognize your computer each time they
send you an online advertisement to compile information about you or others who
use your computer. This information allows ad networks to, among other things,
deliver targeted advertisements that they believe will be of most interest to
you. This Privacy Policy covers the use of cookies by Stamp.fm and does not
cover the use of cookies by any advertisers.</span></p>

<p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
0in;margin-left:0in;margin-bottom:.0001pt;line-height:16.8pt;background:white'><b><span
style='font-size:13.5pt;font-family:"Times New Roman";color:#222222'>Privacy
Policy Changes</span></b></p>

<p class=MsoNormal style='margin-top:.2in;margin-right:0in;margin-bottom:.2in;
margin-left:0in;line-height:normal;background:white'><span style='font-size:
12.0pt;font-family:"Times New Roman";color:#222222'>Although most changes are
likely to be minor, Stamp.fm may change its Privacy Policy from time to time,
and in Stamp.fm&#39s sole discretion. Stamp.fm encourages visitors to frequently
check this page for any changes to its Privacy Policy. Your continued use of
this site after any change in this Privacy Policy will constitute your
acceptance of such change.</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>

</div>
</body>

</html>
