<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/profile.css">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <div id="wrapper">
    <header id="header">
      <a href="http://www.stamp.fm"><img src="/headerStamp.png"></a>
      <ul style="float:right">
      <li>
        <a href="/upload" style="text-decoration:none" class="nav">UPLOAD</a>
      </li>
      <li>
        <a href="/audition" style="text-decoration:none" class="nav">AUDITION</a>
      </li>
      <li>
        <a href="/bracket" style="text-decoration:none" class="nav">BRACKET</a>
      </li>
      </ul>  
    </header>
    <div id="profile_info">
        <p id="band_name" style="font-size: 60px;">Omar Hashwi</p><br>
        <img id="profile_picture" src="/stampman.png">
        <div id="profile_text">
            <p><b>Location: </b></p><p id="location">A^2</p><p><b>Years Active: </b></p><p id="years_active">3</p><p><b>  Members: </b></p><p id="members">Solo</p><br><br>
        </div>
        <div id="bio_box">
            <p id="bio_title"><b>BIO</b></p>
            <p id="bio_text">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
        </div>
    </div>
    <div id="albums">
        <p style="font-size: 50px;padding-left: 30px;">Albums</p><br>
    </div>
    <div id="playlists">
        <p style="font-size: 50px;padding-left: 30px;">Playlists</p><br>
    </div>
  </div>
</html>