<% script('/scripts/main.js') -%>
<% stylesheet('/video-js/video-js.css') -%>
<% script('/video-js/video.js') -%>

<form method = "post" id = "#set-password-form">
	<p> Please enter your new password </p>
	<label for = "password"></label>
	<input type = "password" name = "pass">
	<input type = "submit" value = "Go!">
</form>