<div id="search_wrapper">
    <table cellspacing="0" cellpadding="0" >
        <tr>
	    <td>
	        <div style=" overflow:auto;">
	            <table cellspacing="0" cellpadding="1" >
		    <% put loop here%>
			<tr style="color:#000">
			<td><img src="" style="float:left;"></td>
			<td><div style="float:right">Put text here</div></td>
                        </tr>
		    <% end loop here%>
		  </table>  
		</div>
	    </td>
    	</tr>
    </table>
</div>