<% layout('layout') -%>
<% script('users.js') -%>
<br>
<br>
<br>
<br>
<form id = "searchform">
	<input type = "search" name = "textsearch" placeholder = "search for name" id = "search">
</form>

<div id = "users"></div>

<a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
  Share on Facebook
</a>