<% layout('layout') -%>
<% script('users.js') -%>
<br>
<br>
<br>
<br>
<form id = "searchform">
	<input type = "search" name = "textsearch" placeholder = "search for name" id = "search">
</form>

<div id = "users"></div>

