
<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/successPage.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
<body>
    <header id="header">

      <a href="http://www.stamp.fm" id="logo"><img id="logoPic" src="/headerStamp.png"></a>
      </form>
      <ul id="links">
        <li id="audition">
        <a style="text-decoration:none" id="audLink" class="nav">Elimination</a>
        </li>
        <li id="bracket">
        <a style="text-decoration:none" id="brackLink" class="nav">Finals</a>
        </li> 
    </ul>
    </header>

<div class="blurb"><br><br>
<span style="font-size:50px;">We have sent an email!</span><br><br><br><span style="font-size:35px;">You should receive it in a few moments!</span>
</p><br><br><br>
<p style="font-size: 30px" class="small">Like us on Facebook and follow us on Twitter to stay up to date!</p>
 <div style="margin-left:20%;">
 <div class="fb-like" data-href="https://www.facebook.com/Stamp.fm?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
 <div>
  <a href="http://twitter.com/stampfm" class="twitter-follow-button"  data-show-screen-name="false"></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
</div>
</div>    

   <div id="footer">
      <ul>
  <ul>
  <li>&copy Copyright 2013 Stamp.fm All Rights Reserved</li>
      </ul>
    </div>

<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End FB Like Script -->

</body>
</html>