<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/upload.css">
    <link rel="stylesheet" type="text/css" href="/dropzone.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body style="background-color:#FFFFFF;margin:0;min-width: 1100px;">
    <header id="header">
      <a href="http://www.stamp.fm"><img src="/treble.png"></a>
    </header>
    <div id="upload_block">
      <script src="/dropzone.js"></script>
      <form action="/file-upload" class="dropzone">
	<div class="fallback">
	  <input name="file" type="file" multiple />
  	</div>
      </form>
    </div>
    <div id="form_block">
      
    </div>
    
  </body>
</html>