<% layout('layout') -%>
<% script('uploadPage.js') -%>
<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/gridiculous.css">
    <link rel="stylesheet" type="text/css" href="/upload.css">
    <link rel="stylesheet" type="text/css" href="/dropzone.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div id="wrapper">

<center>
    <div id="explain">
    	<center>
    	<p id="top">Upload a Song to Enter into the Tournament</p>
    	<p>You are allowed one song entry per genre</p>
    	</center>
    </div>	
</center>

      <div id="upload_block">
        <script src="/dropzone.js"></script>
        <form method = "POST" action="/file-upload" class="dropzone" enctype = "multipart/form-data" id = "myDrop">
        	<center><p id="uploadText" style="color:#000">Drag and Drop to Upload</p></center>
          <div class = "fallback">
	         <input id="uploaded" name="file" type="file" multiple success="onComplete(file)"/>
          </div>
        </form>
      </div>
  </div>


  <!-- Modal Window(s) -->

<div id="info" class="modalDialog">
  <div>
    <center>
    <h5 style="color:white">Fill in your Song Information</h5>
    <div>
      <form method = "post" id = "songInfo">
        <input type="text" class="songName" placeholder="Song Name" id = "songName"><br><br>
        <p style="color:#FFFFFF">Choose the Genre that best fits your song</p>
        <center>
        <select name="genre" form="songInfo" id = "genre">
        	<option class="genreChoice" id="country">country</option>
			    <option class="genreChoice" id="pop">pop</option>
			    <option class="genreChoice" id="alternative">alternative</option>
			    <option class="genreChoice" id="rap">rap</option>
			    <option class="genreChoice" id="rnb">rnb</option>
			    <option class="genreChoice" id="instrumental">instrumental</option>
			    <option class="genreChoice" id="hardrock">hardrock</option>
			    <option class="genreChoice" id="EDM">EDM</option>
			    <option class="genreChoice" id="international">international</option>
			    <option class="genreChoice" id="folk">folk</option>
			 </select>
       <input type = "checkbox" id = "explicit" name = "explicit"> Is this song explicit?
			 </center>
        <input type="submit" value="Enter" id = "submit">
      </form>
    </div>
</center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->

<div id="notReal" class="modalDialog_temp">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">This stage of the competition has not begun yet.<br><br>
    See you July 25th!</h3>

    <p style="color:white">Stay up to date by liking us on Facebook or following us on Twitter!</p>

    <ul>
      <li> <div class="fb-like" data-href="https://www.facebook.com/Stamp.fm?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div></li>
      <li>  <div>
            <a href="https://twitter.com/stampfm" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div></li>
    </ul>          
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- Modal Window(s) -->

<div id="accountInfo" class="modalDialog_account">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <center>
    <h3 style="color:white">Edit Your Account Info</h3>
		<form id="editAccount">
			<br>
			<input type="email" placeholder="Change your Email Address" id="editEmail"><br><br><br>
			<input type="password" placeholder="Change your Password" id="password"><br><br>
			<input type="password" placeholder="Confirm New Password" id="passwordConfirm"><br><br><br>
			<input type="submit" value="Confirm" id="confirm">
		</form>	        
    </center>
  </div>
</div>

<!-- End Modal Window(s) -->

<!-- FB Like Script-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Like Script -->
<script>
  $(document).ready(function() {
    $("#songInfo").submit(function(e){
      return false;
    });
    $('#submit').click(function(event){ 
     var name = $('#songName').val();
     var genre = $('#genre').val();
     var explicit = 0;
     if($('#explicit').is(":checked")){
      explicit = 1;
     }
     $.ajax({ 
           url: '/upload',
           type: 'POST',
           cache: false, 
           data: {name: name, genre: genre, explicit: explicit},
           success: function(data){
            if(data.msg != "ok"){
              alert(data.msg);
            } else {
              alert("We have recieved your video!");
            }
            if (typeof data.redirect == 'string'){
              window.location = data.redirect;
            }
           }
        })
     });
  });
</script>
  </body>
</html>