<!DOCTYPE html>
<html>
  <head>
    <title>stamp.fm</title>
    <link rel="icon" type="image/png" href="/img_samp.fm_logo copy.jpg"/>
    <link rel="stylesheet" type="text/css" href="/upload.css">
    <link rel="stylesheet" type="text/css" href="/dropzone.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div id="wrapper">
      <header id="header">
	<a href="http://www.stamp.fm"><img src="/headerStamp.png"></a>
      </header>
      <div id="upload_block">
        <script src="/dropzone.js"></script>
        <form method = "POST" action="/file-upload" class="dropzone" enctype = "multipart/form-data">
	  <div class="fallback">
	    <input name="file" type="file" multiple />
      	  </div>
        </form>
      </div>
      <div id="form_block">
	<div class="scrollingArea">
	  <table class="scrollable">
	    <thead>
	      <tr>
		<th>Select your entry</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td><div class="song_name"><a href="#upload_song">Song Name</a></div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	      <tr>
		<td><div class="song_name">Song Name</div></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
      <div id="upload_song">
	<center>
	  <br><br><br><br>Song Name<br><br>
	  <select id = "select_genre">
	    <option value = "default">Enter this song under which genre?</option>
            <option value = "0">genre 0</option>
            <option value = "1">genre 1</option>
            <option value = "2">genre 2</option>
            <option value = "3">genre 3</option>
	    <option value = "4">genre 4</option>
	    <option value = "5">genre 5</option>
	    <option value = "6">genre 6</option>
	    <option value = "7">genre 7</option>
	    <option value = "8">genre 8</option>
	    <option value = "9">genre 9</option>
          </select>
	  <br><br>Warning: You may only enter one song per genre<br><br>
	  <button id="submit_song">Submit</button>
	  <a id="close_upload_song" href="#"><img src="/close_icon.png"></a>
	</center>
      </div>
    </div>
    
  </body>
</html>