<% layout('layout') -%>
<% script('/scripts/main.js') -%>
<% stylesheet('/video-js/video-js.css') -%>
<% script('/video-js/video.js') -%>

<form method = "POST" enctype = "multipart/form-data">
	<input type = "file" name = "video" id = "video">
	<input type = "submit" value = "submit" id = "submit">
</form>

Name: <%=name%>
<video class="video-js vjs-default-skin" controls width="420" height="264" data-setup='{"techOrder": "html5", "flash", "other supported tech"]}'>
                <source src="<%=id%>" type="video/mp4">
</video> 

<script>
	


</script>