#selectedArea{
    float: right;
    margin-right:10px;
    margin-top:50px;
    height: 100%;
    width:41%;
    padding: 0;
}

#artistNameSelected{
    color: #000;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    overflow-x: auto;
    vertical-align: top;
}

#artists{
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    height: 100%;
    width: 57%;
    overflow-y: auto;
    overflow-x:hidden;
    border-right: 1px groove rgba(0,0,0,.1);
}
.artist{
    float:left;
    height:33%;
    width:24%;
    margin: 2px;
}
.artist_pic{
    margin: auto;
    position: relative;
    color: transparent;
}

#songInfo{
    color: #FFFFFF;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin-top: -60px;
    text-align: center;
    background-color:#000;
    opacity:.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}
#songInfo li{
    display: inline-block;
    margin-left: -30px;
}

.artist_name{
    color: #FFFFFF;
    position: relative;
    font-size: 12px;
    overflow-x: auto;
    vertical-align: middle;
}

.song_name{
    position: relative;
    font-size: 15px;
    overflow-x: auto;
}

#otherSongsLabel{
    margin-left:auto;
    margin-right: auto;
    width:100%; 
    overflow: auto;
    font-size: 15px;
    background-color: rgba(255,255,255,.6);
}

#artistSongLabel{
    margin: auto;
    width:100%; 
}

.stampFollow{
   
    font-size: 12px;
    border: 1px solid rgba(0,0,0,1);
    color: #FFFFFF;
    cursor: pointer; 
    height: 20px;  
    width: 60px;  
    max-height: 30px;
    max-width: 70px;
    margin-top: -35px;
    margin-left: -85px;
    padding: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.stampFollow:hover{
    background-color: rgba(140,7,6,1);
}

.stampFollow:active{
    color: #FFFFFF;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid 1px #000;
}

.stampFollow #artistNameSelected{
    display: inline-block;
}

#songList{
    float: left;
    margin-top: 10px;
    width:100%; 
    height: 185px;
    overflow: auto;
    font-size: 15px;
    /*background-color: rgba(240,240,240,.9);*/
}
#vidYo{
    float: left;
    position: relative;
    left: 0;
    right: 0;
    -moz-box-shadow:    1px 1px 5px 1px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
    box-shadow:         1px 1px 5px 1px rgba(0,0,0,.5);
    margin: 0;
    padding: 0;
}
#selected_pic{
    width: 100%;
    float: left;
    margin-top:10px;
    padding-top: 10px;
    border-top: 1px groove rgba(0,0,0,.1);
    border-bottom: 1px groove rgba(0,0,0,.1);
}
#body_wrapper{
    height: 600px;
    width:100%;
}
body{
    min-width: 1175px !important;
}