#selectSongList{
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	min-width: 60%;
	width: 67.5%;
	margin-bottom: 0px;
	background-image: linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(240,240,240)),
    color-stop(0.6, rgb(235,235,235)),
    color-stop(0.8, rgb(230,230,230))
    );
    border-left: 1px solid rgba(180,7,6,1);
	border-top: 1px solid rgba(180,7,6,1);
	border-right: 1px solid rgba(180,7,6,1);
	overflow: hidden;

}

#selectSongList li{
	display: inline;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

}

#selectSongList li:hover{
	text-shadow: 0 0 0px rgba(180,7,6,.7);
	background-image: linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(240,240,240)),
    color-stop(0.6, rgb(235,235,235)),
    color-stop(0.8, rgb(230,230,230))
    );
}

#selectSongList li:active{
    color: rgba(180,7,6,1);
}
.selected{
	color: rgba(180,7,6,1);
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.blurred{
	color: transparent;
	text-shadow: 0 0 5px rgba(180,7,6,0.5);
}

.unclickable{
	filter: blur(2px) grayscale(95%);
	-webkit-filter: blur(2px) grayscale(95%);
	-moz-filter: blur(2px) grayscale(95%);
	-o-filter: blur(2px) grayscale(95%);
	-ms-filter: blur(2px) grayscale(95%);
}


#songOne{
	float: left;
	margin-left: 10%;
}

#songTwo{
	float: right;
	margin-right: 15%;
}

#selectSong{
	margin-top: 90px;
}

#songOneVote{
	list-style-type: none;
	text-align: center;
}
#songOneVote #vidYo #songTwoVote{
	display: inline;
}

#songTwoVote{
	list-style-type: none;
	text-align: center;
}

#voteOne{

}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px rgba(180,7,6,1);
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid rgba(180,7,6,1);
  }
  .ui-tooltip {
    color: white;
    border-radius: 0px;
    font: bold 10px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px #000;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }




#banOne #banContentOne{
	display: block;
}

#banContentOne li{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #FFFFFF;
	height: 100%;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;    
}
.none { 
	border-bottom: 1px solid rgba(180,7,6,1); 
	margin-bottom: -50px; 
}

#banContentOne{
	margin-top: -5px;
    list-style-type: none;
    background-color: #000;
    height: 90px;
    width: 110px;
    border: 1px solid rgba(180,7,6,1);
}

#banContentOne:after{
    content: '';
    position: relative;
    bottom: 118px;
    left: -20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#banTwo #banContentTwo{
	display: block;
}

#banContentTwo li{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #FFFFFF;
	height: 100%;
    width: 100%;
    border-bottom: 1px solid #FFFFFF; 
}

#banContentTwo{
	margin-top: -5px;
    list-style-type: none;
    background-color: #000;
    height: 90px;
    width: 110px;
    border: 1px solid rgba(180,7,6,1);
}

#banContentTwo:after{
    content: '';
    position: relative;
    bottom: 118px;
    right: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#firstThird{
	height: 33%;
    margin-left: -40px;
    width: 157%;
    padding-top: 0px;

}

#firstThird:hover{
    background-color: rgba(180,7,6,1)
}

#secondThird{
	height: 33%;
    margin-left: -40px;
    width: 157%;
}

#secondThird:hover{
    background-color: rgba(180,7,6,1);
}

#finalThird{
	height: 33%;
    margin-left: -40px;
    width: 157%;
}

#finalThird:hover{
    background-color: rgba(180,7,6,1);
}



