

#displayName{
    font-weight: bold;
    margin-bottom: 0px;
}
#location{
    width: 100%;
    margin-left: 0%;
    font-size: 15px;
}
#bio{
    margin-left: auto;
    margin-right: auto;
    text-align:center; 
    overflow : hidden;
    word-wrap: break-word;
    font-size: 15px;
    border : 1px;
    color : #000; 
    margin-bottom: -25px;
    padding : 4px; 
    max-width : 50%; 
    max-height : 30px;
}



.songname{
	max-width:195px;
    overflow:hidden;
}

#vidColor{
    margin: auto;
    padding-right: 12px;
    border-right: 1px solid #000;
}
#favColor{
    margin: auto;
    padding-right: 12px;
    border-right: 1px solid #000;
}
#favButton{
    margin-left:3%;
    margin-right: auto;
}
#tourneyButton{
    margin-left:3%;
    margin-right: auto;
}
#songListLabel{
    font-size: 15px;
}

#playlistLabel{
    font-size: 15px;
}

#tourneyContent{
    margin-top: 0px;
    margin-bottom: 5px;
    background : #E0E0E0;
    color : #ffffff; 
    padding : 4px; 
    max-width : 100%; 
    min-height:610px;
    max-height: 610px; 
    overflow : auto;
    background-image: linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 20%, rgb(235,235,235) 60%, rgb(230,230,230) 80%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(240,240,240)),
    color-stop(0.6, rgb(235,235,235)),
    color-stop(0.8, rgb(230,230,230))
    );
    -moz-border-radius:10px;  
    border-radius: 10px;  
    -webkit-border-radius: 10px;
}
