html{
    background: url("/textured_white_background.png") repeat;
    background-size: 200px;
    min-width: 100%;
    min-height: 100%;
}
body {
    margin:0;
    padding: 0;
    border: 0;
    min-width: 1100px;
    min-height:100%;
}

#header {
    min-width: 800px;
    background-color: rgba(180,7,6,1);
    width:100%;
    height: 75px;
    position: fixed;
    top: 0;
    float: left;
    z-index:99;
}

#header ul{
	list-style-type: none;
}

#header li{
	display: inline;
	margin-right: 20px;
	font-size: 30px;
}

#header .nav{
	color: black;
}

#header h1{
	margin-left: 80px;
	margin-right: 80px;
}
#profile_info{
    margin-top: 80px;
    margin-left: 30px;
}
#band_name {
    margin:0;
    float: none;
}
#profile_text{
    position: absolute;
    top: 150px;
    left: 260px;
    min-width: 1000px;
}
#profile_text p{
    float: left;
    margin-right: 10px;
}
#bio_box{
    position: absolute;
    top:200px;
    left:260px;
    min-width: 500px;
    padding-right:100px;
}