

#displayName{
    font-weight: bold;
    margin-bottom: 0px;
}
#location{
    width: 100%;
    margin-left: 0%;
    font-size: 15px;
}
#bio{
    margin-left: auto;
    margin-right: auto;
    text-align:center; 
    overflow : hidden;
    word-wrap: break-word;
    font-size: 15px;
    border : 1px;
    color : #000; 
    margin-bottom: -25px;
    padding : 4px; 
    max-width : 50%; 
    max-height : 30px;
}



.songname{
	max-width:195px;
    overflow:hidden;
}