

#preview #submitProfPic{
    display: inline;
}

#submitProfPic{
    visibility: hidden;
    font-size: 20px;
    background-color: rgba(180,7,6,1);
    color: #FFFFFF;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}

#submitProfPic:hover{
    background-color: rgba(120,7,6,1);
}


.addTourney:active{
    background-image: url('trebleClef.png');
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgba(120,7,6,1);
    border: solid 1px #000;
}

.addTourney:hover{
    background-color: rgba(140,7,6,1);
}

.addTourney{
    font-size: 10px;
    color: white;
    margin-bottom: 7px;
    background-color: rgba(180,7,6,1);
    border: none;         
    cursor: pointer;       
    height: 15px;
    width: 55px;    
    vertical-align: middle;
    margin-left: 0%;
    -moz-border-radius:10px;  
    border-radius: 10px;  
    -webkit-border-radius: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 20px 0 rgba(180, 180, 180, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 20px 0 rgba(180, 180, 180, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 rgba(230, 230, 230, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    } 




#displayName{
    font-weight: bold;
    margin-bottom: 0px;
}


#displayName:hover{
    background-color: rgba(180,7,6,.3);
}
#displayNameEdit{
    margin-bottom: 40px;
    width: 100%;
}
#submitNameButton{
    background-color: rgba(180,7,6,1);
    color: #FFFFFF;
    font-size: 10px;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#submitNameButton:hover{
    background-color: rgba(120,7,6,1);
}
#location{
    width: 100%;
    margin-top: -40px;
    margin-left: 0%;
    font-size: 15px;
}
#displayLocationEdit{
    margin-bottom: 10px;
    width: 100%;
}
#spanLocation:hover{
    background-color: rgba(180,7,6,.3);
}
#submitLocationButton{
    background-color: rgba(180,7,6,1);
    color: #FFFFFF;
    font-size: 10px;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#submitLocationButton:hover{
    background-color: rgba(120,7,6,1);
}
#bio{
    margin-left: auto;
    margin-right: 190px;
    text-align:center; 
    overflow : hidden;
    word-wrap: break-word;
    font-size: 15px;
    border : 1px;
    color : #000; 
    padding : 4px; 
    margin-bottom: 10px;
    margin-top: -40px;
    max-width : 50%; 
    max-height : 30px; 
}
#bio:hover{
    background-color: rgba(180,7,6,.3);
}
#submitBioButton{
    background-color: rgba(180,7,6,1);
    color: #FFFFFF;
    font-size: 10px;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#submitBioButton:hover{
    background-color: rgba(120,7,6,1);
}



#songListLabel #uploadForm{
    display: inline;
}
#uploadForm{
    font-size: 10px;
}


#uploadFigurehead{
    font-size: 15px;
    color: #FFFFFF;
    border: none;         
    cursor: pointer;       
    background-color: rgba(180,7,6,1);
    border: solid 1px rgba(0,0,0,.5);
    vertical-align: middle;
    max-height: 40px;
    max-width: 90px;
    margin: auto;
    -moz-border-radius:10px;  
    border-radius: 10px;  
    -webkit-border-radius: 100px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 20px 0 rgba(180, 180, 180, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 20px 0 rgba(180, 180, 180, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 rgba(230, 230, 230, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#uploadFigurehead:hover, #uploadFigurehead:focus{
    background-color: rgba(140,7,6,1);
}
#uploadFigurehead:active{
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgba(120,7,6,1);
    border: solid 1px #000;
}







#songSubmit{
    background-color: rgba(0,0,0,1);
    color: #FFFFFF;
    margin-top: 2%;
    max-width: 50%;
    font-size: 20px;
    height: 20%;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#songSubmit:hover { background: rgba(163,163,163,1); }
#cancelUpload{
    background-color: rgba(0,0,0,1);
    color: #FFFFFF;
    margin-top: 2%;
    max-width: 50%;
    font-size: 20px;
    height: 20%;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#cancelUpload:hover { background: rgba(163,163,163,1); }



#enterTourney{
    background-color: rgba(0,0,0,1);
    color: #FFFFFF;
    margin-top: 2%;
    max-width: 50%;
    font-size: 20px;
    height: 20%;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#enterTourney:hover { background: rgba(163,163,163,1); }

#noThanks{
    background-color: rgba(0,0,0,1);
    color: #FFFFFF;
    margin-top: 2%;
    max-width: 50%;
    font-size: 20px;
    height: 20%;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}
#noThanks:hover { background: rgba(163,163,163,1); }


