html{
    background: #FFFFFF no-repeat center center fixed;
    font-family: 'Poiret One', cursive;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
body {
    margin:0;
    padding: 0;
    border: 0;
    min-width: 1100px;
    min-height:100%;
}
#wrapper {
  position: relative;
  min-height: 400px;
}

#header {
    min-width: 700px;
    background-color: rgba(180,7,6,1);
    width:100%;
    height: 75px;
    position: fixed;
    top: 0;
    float: left;
    opacity:0.9;
    filter:alpha(opacity=90);
    z-index:99;
}

#header ul{
    list-style-type: none;
}

#header li{
    display: inline;
    margin-right: 20px;
    font-size: 30px;
}

#header .nav{
    color: black;
}

#header h1{
    margin-left: 80px;
    margin-right: 80px;
}

#profileInfo{
    width: 100%;
    margin-left: 0px;
    background-color: black;
}
#profilePic{
    margin-top: 8%;
    margin-left: 0px;
}
#name{
    margin-top: 8%;
    margin-left: 0px;
}
#location{
    margin-left: 3.5%;
    font-size: 30px;
}
#bio{
    margin-top: 8%;
    font-size: 30px;
}
#picture{
    max-height: 250px;
}