body {
	background-color: #FFA000;
}


.box {
width: 400px;
height: 400px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 0px 11px #FF0000;
-moz-box-shadow: 0px 0px 11px #FF0000;
box-shadow: 0px 0px 11px #FF0000;
background-image: -moz-linear-gradient(top, #D3D3D3, #A0A0A0);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #FF0000));
border: 2px solid #FFCC00;
background-color: #FFFFFF;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #888888;
text-align: center;
outline: 0px solid #32CD32;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 15px;
-moz-column-gap: 15px;
column-gap: 15px;

animation:myfirst 5s;
-webkit-animation:myfirst 5s; 

}



.plus {
width: 24px;
height: 24px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 0px 11px #000000;
-moz-box-shadow: 0px 0px 11px #000000;
box-shadow: 0px 0px 11px #000000;
background-image: -moz-linear-gradient(top,#D3D3D3, #A0A0A0);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #D3D3D3));
border: 2px solid #696969;
background-color: #FFFFFF;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #888888;
text-align: center;
outline: 0px solid #FFCC00;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 15px;
-moz-column-gap: 15px;
column-gap: 15px;
}

nav:hover {
background-image: -moz-linear-gradient(top, #FFFFFF, #A0A0A0);

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #A0A0A0));
}

.matchup {
	position: relative;
	width: 1300px;
}
.vote_song {
	position: absolute;
	height: 350px;
	width: 560px;
	border-style: solid;
	border-width:20px;
	border-color: #FFCC00;
}
.vote_song:hover {
	background-image: -moz-linear-gradient(top, #FFFFFF, #FF0000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #FF0000));
}
#artist1 {
	left:0;
}
#artist2 {
	left:600px;
}
#vote1 {
	position:absolute;
	top:320px;
	left:230px;	
}
#fb1 {
	position:absolute;
	top:320px;
	left:20px;	
}
#twitter1 {
	position:absolute;
	top:320px;
	left:400px;	
}
#vote2 {
	position:absolute;
	top:320px;
	left:230px;	
}
#fb2 {
	position:absolute;
	top:320px;
	left:20px;	
}
#twitter2 {
	position:absolute;
	top:320px;
	left:400px;	
}
#stampHome {
	position: absolute;
	width: 399px;
	height: 179px;
	top:475px;
	left:410px;
	background-image: url(http://www.stamp.fm/uploads/2/0/1/2/20128091/1369182660.png);
}