html{
    background: #FFFFFF no-repeat center center fixed;
    background-image: url('/upload_background.jpg');
    font-family: 'Poiret One', cursive;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
body {
    margin:0;
    padding: 0;
    border: 0;
    min-width: 1100px;
    min-height:100%;
}
#wrapper {
  position: relative;
  min-height: 400px;
}

#header {
    min-width: 800px;
    background-color: rgba(180,7,6,1);
    width:100%;
    height: 75px;
    position: fixed;
    top: 0;
    float: left;
    opacity:0.9;
    filter:alpha(opacity=90);
    z-index:99;
}

#header ul{
	list-style-type: none;
}

#links #prof{
    display: inline;
}

#links{
    margin-top: 20px;
    float: right;
}

#prof{
    margin-top: 10px;
    float: right;
}

#header li{
    display: inline;
    font-size: 30px;
    margin-left: 30px;
}

#prof li{
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
}

#header .nav{
	color: black;
    margin-top: 0px;
}

#profileLink{
    text-decoration: none;
}

#profilePic{
    margin-left: 50px;
    max-height: 70%;
    max-width: 70%;
}

#settings{
    max-width: 30%;
    max-height: 30%;
    margin-right: 20px;
    margin-bottom: 0px;
}

#dropdownContent li{
    width: 100%;
    font-size: 15px; 
}

#dropdownContent{
        float: right; 
        list-style: none;
        background-color: #000;
        width: 70px;
        border: 1px solid #FFFFFF;
        visibility: hidden;
}

#tophalf{
    margin-left: -40px;
    width: 157%;
    padding-top: 0px;
    padding-bottom: 7px;
}

#tophalf:hover{
    background-color: rgba(180,7,6,1)
}

#bottomhalf{
    margin-left: -40px;
    width: 157%;
    padding-bottom: 10px;
}

#bottomhalf:hover{
    background-color: rgba(180,7,6,1);
}

.dropdownWrapper:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 2%;
    top: 50%;
    margin-top: 20px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #FFFFFF; 
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);   
}

#logOut{
    text-decoration: none;
    color: #FFFFFF;
}

#account{
    text-decoration: none;
    color: #FFFFFF;
}

#upload_block {
    background-color: #000;
    color: #000;
    width: 500px;
    height: 380px;
    position: relative;
    margin-top: 50px;
    margin-left: 32%;
    float: left;
    border-style: solid;
    border-width:6px;
    border-color: rgba(180,7,6,1);
    background: rgba(0,0,0,0);
}

#uploadText{
    font-size: 40px;
}

#explain{
    position: center;
    margin-top: 110px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    color: #000;
    background-color: #000;
    background: rgba(0,0,0,0);
    height: 30%;
    width: 35%;
}

#top{
    font-size: 30px;
}

.modalDialog {
    position: fixed;
    font-family: 'Poiret One', cursive;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog > div {
    width: 30%;
    height: 30%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(180,7,6,1);
}

.close {
    background: #000;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: rgba(163,163,163,1); }

.songName{
    width: 200px;
    height: 20px;
    font-size: 15px;
    -moz-border-radius:4px;  
    border-radius: 4px;  
}

.unhidden {
    opacity:1;
    pointer-events: auto;
}


.modalDialog_temp {
    position: fixed;
    font-family: 'Poiret One', cursive;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog_temp:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog_temp > div {
    width: 30%;
    height: 40%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(180,7,6,1);
}

.modalDialog_temp ul{
    list-style-type: none;
}

.modalDialog_temp li{
    display: inline;
    float: center;
}

.twitter-follow-button{
    margin-right: 4%;
}

.fb-like{
    float: left;
    margin-left: 15%;
<<<<<<< HEAD
}






.modalDialog_account {
    position: fixed;
    font-family: 'Poiret One', cursive;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog_account:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog_account > div {
    width: 40%;
    height: 40%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(0,0,0,1);
}

#editEmail{
    width: 60%;
    font-size: 20px;
}

#password{
    width: 60%;
    font-size: 20px;
}

#passwordConfirm{
    width: 60%;
    font-size: 20px;
}

#confirm{
    background-color: rgba(180,7,6,1);
    color: #FFFFFF;
    font-size: 20px;
    border: 0px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
}

#confirm:hover{
    background-color: rgba(120,7,6,1);    
}
#header li:hover{background:#FF1100;padding-top:100px;padding-bottom:17px;}

