html{
    background: #000 no-repeat center center fixed;
    background-image: url('/upload_background.jpg');
    font-family: 'Poiret One', cursive;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
body {
    margin:0;
    padding: 0;
    border: 0;
    min-width: 1100px;
    min-height:100%;
}
#wrapper {
  position: relative;
  min-height: 400px;
}

#header {
    min-width: 700px;
    background-color: rgba(180,7,6,1);
    width:100%;
    height: 75px;
    position: fixed;
    top: 0;
    float: left;
    opacity:0.9;
    filter:alpha(opacity=90);
    z-index:99;
}

#header ul{
	list-style-type: none;
}

#header li{
	display: inline;
	margin-right: 20px;
	font-size: 30px;
}

#header .nav{
	color: black;
}

#header h1{
	margin-left: 80px;
	margin-right: 80px;
}

#upload_block {
    background-color: #000;
    color: white;
    width: 500px;
    height: 380px;
    position: relative;
    margin-top: 50px;
    margin-left: 32%;
    float: left;
    border-style: solid;
    border-width:6px;
    border-color: rgba(180,7,6,1);
    background: rgba(0,0,0,.9);
}

#uploadText{
    font-size: 40px;
}

#explain{
    position: center;
    margin-top: 110px;
    -moz-border-radius:5px;  
    border-radius: 5px;  
    -webkit-border-radius: 5px;
    color: #FFFFFF;
    background-color: #000;
    background: rgba(0,0,0,.7);
    height: 30%;
    width: 35%;
}

#top{
    font-size: 30px;
}

.modalDialog {
    position: fixed;
    font-family: 'Poiret One', cursive;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog > div {
    width: 30%;
    height: 30%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(180,7,6,1);
}

.close {
    background: #000;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: rgba(163,163,163,1); }

.songName{
    width: 200px;
    height: 20px;
    font-size: 15px;
    -moz-border-radius:4px;  
    border-radius: 4px;  
}

.unhidden {
    opacity:1;
    pointer-events: auto;
}